@import "~bootstrap/scss/bootstrap";
@import "variables.scss";
@import "~font-awesome/css/font-awesome.css";

#app {
    height: 100vh;
}

.navbar {
    background-color: black;
    height: 120px;
    padding: 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    img {
        height: 60%;
    }

    .search-bar {
        width: 25%;
        margin-bottom: 0!important;
        .form-control:focus {
            border-color: black;
            outline: 0;
            box-shadow: none;
        };
        .btn {
            background-color: $boolflix-red;
            color: white;
            border-color: black
        }
    }
}

main {
    background-color: rgb(49, 49, 49);
    min-height: calc(100% - 120px);

    .title {
        color: $boolflix-red;
    }    
}