@import "variables.scss";
@import "~font-awesome/css/font-awesome.css";
.col{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;

    .product-card {
        position: relative!important;
        background-color: black;
        width: 342px;
        height: 513px;

        .info {
            position: absolute;
            background-color: rgba($color: #000000, $alpha: 0.9);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            color: white;
            display: flex;
            flex-direction: column;
            justify-content: center;
            opacity: 0;

            .text-big {
                font-size: $info-text-big;
            }
            .flag-img {
            width: 35px;
            aspect-ratio: 2/1;
            }

            .stars-container {
                display: inline-block;
                i {
                    color: rgb(255, 217, 0);
                }
            }

            &:hover {
                opacity: 1;
            }
        }
        .poster {
                width: 100%;
                height: 100%;
            .poster-img {
                width: 100%;
                height: 100%;
            }
        }
            
    }
}


